src/conf/xml-resources/web-service-references/WSMovie/wsdl/localhost_8080/WebService/WSMovie.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSMovie">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/WebService/WSMovie?xsd=1"/>
</xsd:schema>
</types>
<message name="getCategory">
<part name="parameters" element="tns:getCategory"/>
</message>
<message name="getCategoryResponse">
<part name="parameters" element="tns:getCategoryResponse"/>
</message>
<message name="getMovieByCategory">
<part name="parameters" element="tns:getMovieByCategory"/>
</message>
<message name="getMovieByCategoryResponse">
<part name="parameters" element="tns:getMovieByCategoryResponse"/>
</message>
<message name="getAllMovie">
<part name="parameters" element="tns:getAllMovie"/>
</message>
<message name="getAllMovieResponse">
<part name="parameters" element="tns:getAllMovieResponse"/>
</message>
<message name="NewRelease">
<part name="parameters" element="tns:NewRelease"/>
</message>
<message name="NewReleaseResponse">
<part name="parameters" element="tns:NewReleaseResponse"/>
</message>
<message name="getDayByMovie">
<part name="parameters" element="tns:getDayByMovie"/>
</message>
<message name="getDayByMovieResponse">
<part name="parameters" element="tns:getDayByMovieResponse"/>
</message>
<message name="insertMovie">
<part name="parameters" element="tns:insertMovie"/>
</message>
<message name="insertMovieResponse">
<part name="parameters" element="tns:insertMovieResponse"/>
</message>
<message name="ComingSoon">
<part name="parameters" element="tns:ComingSoon"/>
</message>
<message name="ComingSoonResponse">
<part name="parameters" element="tns:ComingSoonResponse"/>
</message>
<message name="searchMovie">
<part name="parameters" element="tns:searchMovie"/>
</message>
<message name="searchMovieResponse">
<part name="parameters" element="tns:searchMovieResponse"/>
</message>
<message name="getTicketing">
<part name="parameters" element="tns:getTicketing"/>
</message>
<message name="getTicketingResponse">
<part name="parameters" element="tns:getTicketingResponse"/>
</message>
<message name="getCityByDay">
<part name="parameters" element="tns:getCityByDay"/>
</message>
<message name="getCityByDayResponse">
<part name="parameters" element="tns:getCityByDayResponse"/>
</message>
<message name="getMovieById">
<part name="parameters" element="tns:getMovieById"/>
</message>
<message name="getMovieByIdResponse">
<part name="parameters" element="tns:getMovieByIdResponse"/>
</message>
<message name="updateMovie">
<part name="parameters" element="tns:updateMovie"/>
</message>
<message name="updateMovieResponse">
<part name="parameters" element="tns:updateMovieResponse"/>
</message>
<portType name="WSMovie">
<operation name="getCategory">
<input wsam:Action="http://ws/WSMovie/getCategoryRequest" message="tns:getCategory"/>
<output wsam:Action="http://ws/WSMovie/getCategoryResponse" message="tns:getCategoryResponse"/>
</operation>
<operation name="getMovieByCategory">
<input wsam:Action="http://ws/WSMovie/getMovieByCategoryRequest" message="tns:getMovieByCategory"/>
<output wsam:Action="http://ws/WSMovie/getMovieByCategoryResponse" message="tns:getMovieByCategoryResponse"/>
</operation>
<operation name="getAllMovie">
<input wsam:Action="http://ws/WSMovie/getAllMovieRequest" message="tns:getAllMovie"/>
<output wsam:Action="http://ws/WSMovie/getAllMovieResponse" message="tns:getAllMovieResponse"/>
</operation>
<operation name="NewRelease">
<input wsam:Action="http://ws/WSMovie/NewReleaseRequest" message="tns:NewRelease"/>
<output wsam:Action="http://ws/WSMovie/NewReleaseResponse" message="tns:NewReleaseResponse"/>
</operation>
<operation name="getDayByMovie">
<input wsam:Action="http://ws/WSMovie/getDayByMovieRequest" message="tns:getDayByMovie"/>
<output wsam:Action="http://ws/WSMovie/getDayByMovieResponse" message="tns:getDayByMovieResponse"/>
</operation>
<operation name="insertMovie">
<input wsam:Action="http://ws/WSMovie/insertMovieRequest" message="tns:insertMovie"/>
<output wsam:Action="http://ws/WSMovie/insertMovieResponse" message="tns:insertMovieResponse"/>
</operation>
<operation name="ComingSoon">
<input wsam:Action="http://ws/WSMovie/ComingSoonRequest" message="tns:ComingSoon"/>
<output wsam:Action="http://ws/WSMovie/ComingSoonResponse" message="tns:ComingSoonResponse"/>
</operation>
<operation name="searchMovie">
<input wsam:Action="http://ws/WSMovie/searchMovieRequest" message="tns:searchMovie"/>
<output wsam:Action="http://ws/WSMovie/searchMovieResponse" message="tns:searchMovieResponse"/>
</operation>
<operation name="getTicketing">
<input wsam:Action="http://ws/WSMovie/getTicketingRequest" message="tns:getTicketing"/>
<output wsam:Action="http://ws/WSMovie/getTicketingResponse" message="tns:getTicketingResponse"/>
</operation>
<operation name="getCityByDay">
<input wsam:Action="http://ws/WSMovie/getCityByDayRequest" message="tns:getCityByDay"/>
<output wsam:Action="http://ws/WSMovie/getCityByDayResponse" message="tns:getCityByDayResponse"/>
</operation>
<operation name="getMovieById">
<input wsam:Action="http://ws/WSMovie/getMovieByIdRequest" message="tns:getMovieById"/>
<output wsam:Action="http://ws/WSMovie/getMovieByIdResponse" message="tns:getMovieByIdResponse"/>
</operation>
<operation name="updateMovie">
<input wsam:Action="http://ws/WSMovie/updateMovieRequest" message="tns:updateMovie"/>
<output wsam:Action="http://ws/WSMovie/updateMovieResponse" message="tns:updateMovieResponse"/>
</operation>
</portType>
<binding name="WSMoviePortBinding" type="tns:WSMovie">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovieByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NewRelease">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDayByMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ComingSoon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTicketing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCityByDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovieById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSMovie">
<port name="WSMoviePort" binding="tns:WSMoviePortBinding">
<soap:address location="http://localhost:8080/WebService/WSMovie"/>
</port>
</service>
</definitions>