web/WEB-INF/wsdl/localhost_8080/WebService/WSMovie.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSMovie">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/WebService/WSMovie?xsd=1"/>
</xsd:schema>
</types>
<message name="NewRelease">
<part name="parameters" element="tns:NewRelease"/>
</message>
<message name="NewReleaseResponse">
<part name="parameters" element="tns:NewReleaseResponse"/>
</message>
<message name="ComingSoon">
<part name="parameters" element="tns:ComingSoon"/>
</message>
<message name="ComingSoonResponse">
<part name="parameters" element="tns:ComingSoonResponse"/>
</message>
<message name="getAllMovie">
<part name="parameters" element="tns:getAllMovie"/>
</message>
<message name="getAllMovieResponse">
<part name="parameters" element="tns:getAllMovieResponse"/>
</message>
<portType name="WSMovie">
<operation name="NewRelease">
<input wsam:Action="http://ws/WSMovie/NewReleaseRequest" message="tns:NewRelease"/>
<output wsam:Action="http://ws/WSMovie/NewReleaseResponse" message="tns:NewReleaseResponse"/>
</operation>
<operation name="ComingSoon">
<input wsam:Action="http://ws/WSMovie/ComingSoonRequest" message="tns:ComingSoon"/>
<output wsam:Action="http://ws/WSMovie/ComingSoonResponse" message="tns:ComingSoonResponse"/>
</operation>
<operation name="getAllMovie">
<input wsam:Action="http://ws/WSMovie/getAllMovieRequest" message="tns:getAllMovie"/>
<output wsam:Action="http://ws/WSMovie/getAllMovieResponse" message="tns:getAllMovieResponse"/>
</operation>
</portType>
<binding name="WSMoviePortBinding" type="tns:WSMovie">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="NewRelease">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ComingSoon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSMovie">
<port name="WSMoviePort" binding="tns:WSMoviePortBinding">
<soap:address location="http://localhost:8080/WebService/WSMovie"/>
</port>
</service>
</definitions>